@media(max-width:1000px) {
    :root {
        --top: 700px
    }
}

@media(min-width:1000px) {
    :root {
        --top:900px
    }
}


.credits-container {
    /* margin-top: 60px; */
    width: 100%;
  height: 100%;
  margin: 0;
  /* padding: 1rem; */
  min-height: 100vh;
  background: #a2d4ff;
  background-attachment: fixed;
  background-image:
      radial-gradient(rgb(19, 170, 216), rgba(57, 86, 250, 0.767) 2px, transparent 40px),
      radial-gradient(rgb(19, 170, 216), rgba(71, 124, 238, 0.904) 1px, transparent 30px),
      radial-gradient(rgb(19, 170, 216), rgba(77, 195, 250, 0.849) 2px, transparent 40px),
      radial-gradient(rgba(19, 170, 216,.4), rgba(25, 102, 202, 0.726) 2px, transparent 30px),
      radial-gradient(rgba(19, 170, 216,.4), rgba(36, 141, 211, 0.726) 2px, transparent 30px),
      radial-gradient(#3049d6, #0820ac,#06156e ,#040d42,#02092e);
      background-size: 350px 350px, 300px 300px, 250px 250px, 200px 200px, 160px 160px,cover;
      background-position: center;
    overflow: hidden;
    font-family: "Lucida Console", Courier , monospace;
    position: fixed;
}

.credits-container::after {
    content: '';
    position: fixed;
    top:0px;
    width:100%;
    height: 60%;
    background: linear-gradient(180deg, rgba(62, 71, 201, 0.993) 40%, rgba(67, 77, 216, 0) 100%)
}
.wrapper {
    display: flex;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    perspective: 1300px;
}
.scroll-text {
    color:#ffffff;
    font-size:2vw;
    line-height:1.53em;
    font-weight: bold;
    text-align:justify;
    position: relative; 
    animation: scroll 80000s linear forwards;
    /* transform: translateZ(-250px) rotateX(20deg); */

}
h1, h2 {
    text-align: center;
}

@keyframes scroll {
    from {top: var(--top); transform: translateZ(0) rotateX(0deg)}
    to {top: -7550000px; transform: translateZ(-2500px) rotateX(5deg) }
}

.imagine{
    width:15vw;
    height:15vw;
    float: left;    
 margin: 0 15px 0 0;
}
.nume, .ocupatie, .descriere {
    size:10vw;
  }