.home-page-newsletter {
  width: 100%;
  height: 100%;
  display: flex; 
  margin: 0;
  padding: 1rem;
  min-height: 100vh;
  background: #a2d4ff;
  background-attachment: fixed;
  background-image:
      radial-gradient(rgb(19, 170, 216), rgba(57, 86, 250, 0.767) 2px, transparent 40px),
      radial-gradient(rgb(19, 170, 216), rgba(71, 124, 238, 0.904) 1px, transparent 30px),
      radial-gradient(rgb(19, 170, 216), rgba(77, 195, 250, 0.849) 2px, transparent 40px),
      radial-gradient(rgba(19, 170, 216,.4), rgba(25, 102, 202, 0.726) 2px, transparent 30px),
      radial-gradient(rgba(19, 170, 216,.4), rgba(36, 141, 211, 0.726) 2px, transparent 30px),
      radial-gradient(rgb(59, 161, 230), rgb(34, 141, 212) ,#3049d6, #0820ac,#06156e ,#040d42,#02092e);
      background-size: 350px 350px, 300px 300px, 250px 250px, 200px 200px, 160px 160px,cover;
      background-position: center;
      
}



html, body{
    display: border-box;
  }
  
  .container {
    z-index: 1;
    perspective:3000px;
  }
  
  .container .book {
      cursor: pointer;
      left: 6vw;
      top: -5vw;
    position: relative;
    display: flex;
    width: 20vw;
    height: 25vw;
    margin: 3 auto;
    border-radius: 2px 4px 4px 2px;
    background: linear-gradient(45deg, rgb(10, 56, 155) 0%, rgb(10, 56, 155) 100%);//#389bf8 
    font-family: acumin-pro, sans-serif;
    -webkit-box-shadow: 13px 13px 8px 0px rgba(1, 21, 70, 0.822);
  -moz-box-shadow: 13px 13px 8px 0px rgba(1, 21, 70, 0.822);
  box-shadow: 13px 13px 8px 0px rgba(1, 21, 70, 0.822);
    font-weight: 40;
    color: #ffffff;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s;
  }
  
  .container .book:hover {
    -webkit-transform: rotate3d(0,1,0,35deg);
    -moz-transform: rotate3d(0,1,0,35deg);
    transform: rotate3d(0,1,0,35deg);
  }
  
  .container .book > div,
  .container .front > div {
    display: block;
    position: absolute;
  }
  
  
  .container .front {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s;
    -webkit-transform: translate3d(0,0,20px);
    -moz-transform: translate3d(0,0,20px);
    transform: translate3d(0,0,20px);
    z-index: 10;
  }
  
  .container .front > div {
    width: 20vw;
    height: 25vw;
  }
  
  .container .left-side{
    width: 3vw; 
    left: -1.5vw;
    height: 25vw;
    background-color: rgb(10, 56, 155);
    -webkit-transform: rotate3d(0,1,0,-90deg);
    -moz-transform: rotate3d(0,1,0,-90deg);
    transform: rotate3d(0,1,0,-90deg);
  }
  
  
  
  
  .cover .num-up{
    position: absolute;
    top: 20vw;
    left: 9vw;
    font-size: 1.3vw;
    font-family: "Lucida Console", Courier , monospace;
  }
  
  .cover .num-down{
    position: relative;
    top: 6.5vw;
    left: -9.5vw;
    transform: rotate(-90deg);
  }
  
  .author{
    font-family: "Lucida Console", Courier , monospace;
    font-weight: 4;
    position: absolute;
    top: 5vw;
    left: 5vw;
    opacity: .8;
    }
  
  .container .front > div {
    border-radius: 0 3px 3px 0;
    box-shadow: 
      inset 4px 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container .front:after {
    content: '';
    position: absolute;
    top: 1vw;
    bottom: 1vw;
    left: -1vw;
    width: 1vw;
  }
  
  .container .cover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 1vw;
    bottom: 0;
    width: 0.3vw;
    background: rgba(2, 33, 119, 0.5);
    box-shadow: 1px 0 3px rgba(54, 86, 173, 0.678);
  }
  
  
  .container h2 {
    font-family: "Lucida Console", Courier , monospace;
    width: 20vw;
    height: 4vw;
    color: #ffffff;
    font-size: 1.5vw;
    line-height: 4vw;
    padding-right: 1vw;
    text-align: right;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg) translateY(-40px);
    -moz-transform: rotate(90deg) translateY(-40px);
    transform: rotate(90deg) translateY(-40px);
  }
  
  .cover {
   background: radial-gradient(rgb(36, 154, 250) 5%, rgb(13, 139, 243) 15%, rgb(0, 20, 85) );
  }
  
  
  .left-side h2 span:first-child {
    font-weight: 4;
    font-size: 1.3vw;
    padding-right: 2vw;
  }
  
  .left-side h2 span:last-child{
    font-family: acumin-pro, sans-serif;
  } 
  
  @media only screen and (min-width: 421px) and (max-width: 600px){
    .home-page-newsletter {
    display:block;
    }
    .container .book {
      left: 35vw;
      top: 10vw;
      
    }
    .container{
      padding-top: 5vw;
    }
    
  }

  @media only screen and (max-width: 420px){
    .home-page-newsletter {
    display:block;
    }
    .container .book {
      left: 35vw;
      top: 10vw;
      
    }
    .container{
      padding-top: 10vw;
    }
    
  }
