

.corp {
  width: 100%;
  height: 100%;
  display: flex; 
  margin: 0;
  padding: 1rem;
  min-height: 100vh;
  background: #a2d4ff;
  background-attachment: fixed;
  background-image:
      radial-gradient(rgb(19, 170, 216), rgba(57, 86, 250, 0.767) 2px, transparent 40px),
      radial-gradient(rgb(19, 170, 216), rgba(71, 124, 238, 0.904) 1px, transparent 30px),
      radial-gradient(rgb(19, 170, 216), rgba(77, 195, 250, 0.849) 2px, transparent 40px),
      radial-gradient(rgba(19, 170, 216,.4), rgba(25, 102, 202, 0.726) 2px, transparent 30px),
      radial-gradient(rgba(19, 170, 216,.4), rgba(36, 141, 211, 0.726) 2px, transparent 30px),
      radial-gradient(rgb(59, 161, 230), rgb(34, 141, 212) ,#3049d6, #0820ac,#06156e ,#040d42,#02092e);
      background-size: 350px 350px, 300px 300px, 250px 250px, 200px 200px, 160px 160px,cover;
      background-position: center;
  --page-bg: #f5f5f5;
  --dark-text: #2A2935;
  
  --baseline: 1.2vw;
  
  --base-size: var(--baseline) * 1.2;
}

* {
  box-sizing: border-box;
}

.corp {
  justify-content: center;
}

.articol-cover {
  position: relative;
  top: 8vw;
  width: calc(var(--baseline) * 60);
  height: calc(var(--baseline) * 25);
  box-shadow: 0 0 100px rgb(0, 0, 0);
}

.book {
  width: 100%;
  height: 100%;
  display: flex;
  perspective: 1200px;
  
  &__page {
    position: relative;
    width: 50%;
    height: 100%;
    display: grid;
    transform: rotateY(0deg);
    transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform-origin: 0% 0%;
    background-color: var(--page-bg);
    background-image: linear-gradient(90deg, rgb(199, 197, 197)  0%, rgba(247,247,247,0) 18%);
    
    &:nth-of-type(1) {
      background-image: linear-gradient(-90deg, rgb(199, 197, 197) 0%, rgba(10, 10, 10, 0) 18%);
    }

    &--1 {
      cursor: pointer;
      overflow: hidden;
      
      
    }
    
    &--2 {
      position: absolute;
      right: 0;
      pointer-events: none;
      transform-style: preserve-3d;
      background-color: var(--page-bg);
      background-image: linear-gradient(90deg, rgb(199, 197, 197) 0%, rgba(247,247,247,0) 18%);
     
    }
    
    &--4 {
      cursor: pointer;
      padding: 0 calc(var(--baseline) * 3);
    }
    
    &-front {
      position: absolute;
      width: 100%;
      height: 100%;
      transform: rotateY(0deg) translateZ(1px);
    }
    
    &-back {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0 calc(var(--baseline) * 1.8);
      transform: rotateY(180deg) translateZ(1px);
    }
    
   
  }
  
  input[type="radio"] {
    display: none;
    
    &:checked+.book__page {
      transition: transform 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
      transform: rotateY(-180deg);
    }
  }
}

.titluart1{
  position: relative;
  font-family:"Lucida Console", Courier , monospace ;
  font-size: 3vw;
  top: 10vw;
  left: 5vw;
}
.text{
  position: relative;
  font-family:"Lucida Console", Courier , monospace ;
  font-size: 1.5vw;
  top: 1.5vw;
  left: 2vw;
}

.autorart1{
  position: relative;
  font-family:"Lucida Console", Courier , monospace ;
  top: 5vw;
  left: 15vw;
}

.dataart1{
  position: relative;
  font-family:"Lucida Console", Courier , monospace ;
  top: 5vw;
  left: 2.5vw;
}

@media only screen and (max-width: 1200px){
  
  .articol-cover {
    width: calc(var(--baseline) * 70);
    height: calc(var(--baseline) * 30);
    top: 10vw;
  }
}

@media only screen and (max-width: 1100px){
  
  .articol-cover {
    width: calc(var(--baseline) * 70);
    height: calc(var(--baseline) * 35);
    top: 10vw;
  }
}

@media only screen and (max-width: 1000px){
  
  .articol-cover {
    width: calc(var(--baseline) * 70);
    height: calc(var(--baseline) * 40);
    top: 10vw;
  }
}

@media only screen and (max-width: 900px){
  
  .articol-cover {
    width: calc(var(--baseline) * 70);
    height: calc(var(--baseline) * 45);
    top: 10vw;
  }
}

@media only screen and (max-width: 855px){
  
  .articol-cover {
    width: calc(var(--baseline) * 70);
    height: calc(var(--baseline) * 37);
    top: 15vw;
  }
}

@media only screen and (max-width: 800px){
  
  .articol-cover {
    width: calc(var(--baseline) * 70);
    height: calc(var(--baseline) * 40);
    top: 15vw;
  }
}

@media only screen and (max-width: 700px){
  
  .articol-cover {
    width: calc(var(--baseline) * 70);
    height: calc(var(--baseline) * 45);
    top: 15vw;
  }
}

@media only screen and (max-width: 640px){
  
  .articol-cover {
    width: calc(var(--baseline) * 70);
    height: calc(var(--baseline) * 50);
    top: 15vw;
  }

}

@media only screen and (max-width: 600px){
  
  .articol-cover {
    width: calc(var(--baseline) * 70);
    height: calc(var(--baseline) * 70);
    top: 20vw;
  }

}

@media only screen and (max-width: 550px){
  
  .articol-cover {
    width: calc(var(--baseline) * 70);
    height: calc(var(--baseline) * 75);
    top: 20vw;
  }

}

@media only screen and (max-width: 520px){
  
  .articol-cover {
    width: calc(var(--baseline) * 70);
    height: calc(var(--baseline) * 80);
    top: 20vw;
  }

}

@media only screen and (max-width: 470px){
  
  .articol-cover {
    width: calc(var(--baseline) * 70);
    height: calc(var(--baseline) * 90);
    top: 20vw;
  }

}