  // .navbar-brand{
  //   margin-left: 200px;
  // }
  
  // .navbar-brand {
  //   margin-left: 10%;
  //   // position: relative;
  // }

  header {
    // z-index: 999;
    background-color: red;
  }
  .navbar-text {
      margin-right: 10%
  }

  .header-title {
    color: antiquewhite;
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
  }

  .log-button {
    width: 150px;
    height: 40px;
    margin-right: 10px;
  }

  .avatar {
    background: #3853eb;
  border-radius: 50%;
  height: 50px;
  position: relative;
  width: 50px;
  }

  .icon {
   
  height: 50%;
  left: 50%;
  position: absolute;
  stroke-width: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
    
  }

  .avatar-name {
    max-width: 100px;
    padding-left: -10px;
    font-size: 20px;
  }

  .MuiButton-label {
    color: white;
  }


  @media only screen and (max-width: 1000px /* 477px */) {
    .navbar-brand{
      display: none;
      height: 120px;
    }
    // TODO: create classes for mobile view of avatar (DONE)
     .avatar {
      width: 50px;
     }
     .avatar-name {
      display: none;
      padding-left: 10px;
     }
  }
  @media only screen and (min-width: 1001px /* 1240px */) {
    .navbar-brand{
      margin-left: 100px;
    }
    // TODO: create classes for desktop view of avatar(DONE)
    .avatar {
      height: 45px;
    width: 175px;
    border-radius: 20px 20px;
     }
 .icon {
   
   margin: auto auto 50px -20px;
  height: 45px;
 }
 
    
  }