.home-container {
    position: relative;
    width: 60%;
    height: 60%;
    z-index: 15;
    text-align: center;
}

.card-item {
    width: 300px;
    height: 150px;
    flex-shrink: 20;
}

.card-item :hover {
    zoom: 105%;
    transition: 10ms;
}

.card-container{
    position: absolute;
    top:auto;
    bottom: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-flow: row wrap;
    flex-shrink: 20;
    flex-wrap: wrap-reverse;
}
.card-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
    ;
}

.home-container button {
    width: 200px;
    margin: 50px 50px 50px 50px;
}